<img src="https://files.slack.com/files-pri/T02MD9XTF-FKU0M4CF8/qq_logo_v2-02.png">
<h2>YOU LOSE</h2>
<%= link_to "Return to lobby", games_path %>
<h2> Your score has been deincremented by 10 points. </h2>
<h3> May God have mercy on your soul. </h3>