<!-- displays a question, display answers(4 options / TrueFalse), hit one of answers, redirect to next question until game end, then redirect to games/:id/result-->


<h1>Quiz Quest </h1>
<h2>Category: <%= @category.name %></h2>
<h2><%= @current_user.username %></h2>
<h3>Score: <%= @current_user.score %>
<br>

 <%= form_tag '/' %>
