<!DOCTYPE html>
<html>
<head>
  <title>CrudWithValidationsLab</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body>
<style> 
  body { background-image: url('https://static1.squarespace.com/static/5373f668e4b0b339e9db34fb/t/5aaeeaceaa4a99e021a1306a/1521412839883/monkimage.jpg?format=1500w');
  background-size: cover;}
  h1 , h2 , h3{ font-family: "Helvetica" ; color: sienna}
  h1 { font-size: 36px; color: sienna}
  form {text-align: center; font-family: 'Helvetica'; color: sienna}
  div {text-align: center ;border-box: inset 20px; margin: 25% ; padding: 2.5% ; background-color: rgba(245 , 222 , 179 , 0.5); border-radius: 20px;
       box-shadow: 0px 14px 21px 15px rgba(82,55,42, 0.5);}
  ul {color: red; font-style: oblique; font-size: 20px; list-style-type: none}
  a { color: brown; font-family: 'Helvetica';  text-decoration: none; padding: 3px; background: cornsilk; border-radius: 10px; border: double ;}
  input{ border-radius: 20px}

  form { font-style: bold}
  label {display: inline-block; font-family: 'Helvetica'; text-align: left}
  input , select {background: wheat; font-size: 16px; color: saddlebrown; margin: 0.75% ; border: 2px solid sienna; border-radius: 60px; text-align: center;}
  img {width: 100% ; height 100% ; margin-right: auto; margin-left: auto}
</style>

<div>

<%= yield %>
</div>
</body>
</html>
